Django==1.10.5
Mezzanine==4.2.2
Pillow==4.0.0
Pygments==2.2.0
argparse==1.4.0
beautifulsoup4==4.5.3
chardet==2.3.0
django-contrib-comments==1.7.3
django-game-info==0.1.3
django-haystack==2.6.0
django-pagination-py3==1.1.2
djangorestframework==3.5.3
filebrowser-safe==0.4.6
future==0.16.0
grappelli-safe==0.4.5
oauthlib==2.0.1
postmarkup==1.2.2
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.7.0
six==1.10.0
tzlocal==1.3
wsgiref==0.1.2
-e git://github.com/slav0nic/DjangoBB.git#egg=djangobb_forum
python-valve==0.1.1
python-social-auth==0.3.5
-e git://github.com/spookylukey/django-paypal.git#egg=django-paypal
django-nocaptcha-recaptcha==0.0.19
-e git://github.com/Azelphur/django-messages.git#egg=django_messages
Markdown==2.6.8
