beautifulsoup4==4.9.3
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.1
Django==3.2.3
django-contrib-comments==2.1.0
django-game-info==0.1.3
django-haystack==3.0
-e git://github.com/Azelphur/django-messages.git@e5e2444ce2414f316fa91c6e700a20a5eb243e2c#egg=django_messages
django-nocaptcha-recaptcha==0.0.20
django-pagination-py3==1.2.0
-e git://github.com/spookylukey/django-paypal.git@47c8b0f0cd9d1ceeb76d6edeb36f6f0c9122f6ba#egg=django_paypal
-e git://github.com/slav0nic/DjangoBB.git@f1cbf2fe28dc1f749236dd1decb4ee5acb120978#egg=djangobb_forum
djangorestframework==3.12.4
docopt==0.6.2
filebrowser-safe==0.5.0
future==0.18.2
grappelli-safe==0.5.2
html5lib==1.1
idna==3.1
Markdown==3.3.4
Mezzanine==4.3.1
monotonic==1.6
mysqlclient==2.0.3
oauthlib==3.1.0
Pillow==8.2.0
postmarkup==1.2.2
Pygments==2.9.0
PyJWT==2.1.0
python-social-auth==0.3.6
python-valve==0.2.1
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
tzlocal==2.1
urllib3==1.26.4
webencodings==0.5.1
