beautifulsoup4==4.6.0
bleach==2.1.2
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.0.2
django-contrib-comments==1.8.0
django-game-info==0.1.3
django-haystack==2.7.0
-e git://github.com/Azelphur/django-messages.git@e5e2444ce2414f316fa91c6e700a20a5eb243e2c#egg=django_messages
django-nocaptcha-recaptcha==0.0.20
django-pagination-py3==1.1.2
-e git://github.com/spookylukey/django-paypal.git@47c8b0f0cd9d1ceeb76d6edeb36f6f0c9122f6ba#egg=django_paypal
-e git://github.com/slav0nic/DjangoBB.git@f1cbf2fe28dc1f749236dd1decb4ee5acb120978#egg=djangobb_forum
djangorestframework==3.7.7
docopt==0.6.2
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==1.0.1
idna==2.6
Markdown==2.6.11
Mezzanine==4.2.3
monotonic==1.4
mysqlclient==1.3.12
oauthlib==2.0.6
Pillow==5.0.0
postmarkup==1.2.2
Pygments==2.2.0
PyJWT==1.5.3
python-social-auth==0.3.6
python-valve==0.2.1
python3-openid==3.1.0
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
tzlocal==1.5.1
urllib3==1.22
webencodings==0.5.1
