{% extends "ingame/tf2/base.html" %}
{% load static %}

{% block base_content %}
    <p style="text-align: center;">
        <a name="top">
            <img width="500" height="250" alt="How to Surf by Cr4ig0 and Elions | Map: surf_legendary_lite" src="{% static 'img/ingame/tf2/howtosurf.png' %}" />
        </a>
    </p>
    <hr />
    <p style="text-align: center;">
        <a name="how-to-surf">
            <img width="500" height="250" alt="Staying on the Ramp | Map: surf_bigramp_v2_tf2" src="{% static 'img/ingame/tf2/stayonramp.png' %}" />
        </a>
    </p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">
        Staying on the ramp is relatively easy. You just strafe left or right, depending on which side of the ramp you are on.
    </p>
    <p style="text-align: center;">
        D/\A&nbsp;or if you're left handed =&gt;/\&lt;=, keeping your view forward when on the ramp is also a must
    </p>
    <hr />
    <p style="text-align: center;">
        <a name="turning-corners">
            <img width="500" height="250" alt="Turning Corners | Map: surf_utopia_v1" src="{% static 'img/ingame/tf2/corners.png' %}" />
        </a>
    </p>
    <p style="text-align: center;">
        Turning corners is just as easy. All you have to do is aim in the direction of the curve. Move the mouse as smoothly as possible
    </p>
    <p style="text-align: center;">
        Sometimes taking a turn can also need a little work with strafing, if you're having trouble taking a specific turn, just play a bit with strafing in it
    </p>
    <hr />
    <p style="text-align: center;">
        <a name="hopping">
            <img width="500" height="250" alt="Hopping from ramp-to-ramp | Map: surf_tf_rebel_resistance" src="{% static 'img/ingame/tf2/hopping.png' %}" />
        </a>
    </p>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">
        Hopping from ramp to ramp is where it starts to get tricky. You have to make little flicks up off of the first ramp and strafe into the new ramp.
    </p>
    <p style="text-align: center;">
        Alternating between D and A&nbsp;(or =&gt; and &lt;=)&nbsp;is the key to jumping between ramps correctly, take note that sometimes you don't necesarily have to take all the ramps, but just do one big jump to get to the next long one
    </p>
    <p style="text-align: center;">&nbsp;</p>
    <hr />
    <p style="text-align: center;">
        <a name="jump">
            <img width="500" height="250" alt="Making a Jump | Map: surf_complex_b2" src="{% static 'img/ingame/tf2/jumping.png' %}" />
        </a>
    </p>
    <p style="text-align: center;">
        Making a jump is like turning a corner, only up the way, instead of left or right. the faster you go, the higher your jump will be.
    </p>
    <p style="text-align: center;">
        Just like taking a turn, your direction is decided by where you're looking at, so make sure you're looking forward and up, or even, into that pesky little secret door after the jump
    </p>
{% endblock %}
