{% extends "ingame/tf2/base.html" %}
{% load i18n %}

{% block base_content %}
<h2>Server Rules</h2>
<h4>By clicking continue, you agree to the following rules:</h4>
<ul class="rules-list">
    <li><span class="rule">Advertising</span> unrelated servers/websites without permission is not allowed.</li>
    <li><span class="rule">Cheating</span> will result in a permanent ban.</li>
    <li><span class="rule">Discrimination</span> is not welcome here. This means no racism, homophobia, etc.</li>
    <li><span class="rule">English only</span> this is an English speaking server.</li>
    <li><span class="rule">Impersonation</span> of staff members is not allowed under any circumstances.</li>
    <li><span class="rule">Sound clips</span> keep them short, No music. Don't spam.</li>
    <li><span class="rule">Spamming / Flooding</span> isn't clever, don't do it.</li>
    <li><span class="rule">Sprays</span> keep them suitable for kids.</li>
</ul>
<h4>The following is useful information that'll help you get along better with everyone:</h4>
<ul class="rules-list">
    <li><span class="rule">Camping</span> all forms of camping (Spawn, sentry, etc) are allowed.</li>
    <li><span class="rule">Truces</span> are entirely optional and opt-in. Don't whine if someone kills you.</li>
    <li><span class="rule">Hiding in sudden death</span> is silly, if we catch you we'll set you on fire or something.</li>
</ul>
{% endblock %}
