{% extends "accounts/account_form.html" %}
{% load i18n static %}

{% block breadcrumb_menu %}{% endblock %}
{% block body_id %}account signup{% endblock %}

{% block main %}
    {% if request.user.is_authenticated %}
        <p>{% trans "You're already logged in. If you'd like to create a new account, you'll need to log out first." %}</p>
    {% else %}
        {{ block.super }}

        <div>
            <h4>{% trans 'Or, signup with' %}</h4>
            {% for backend in backends.backends %}
                {% with 'img/social/'|add:backend|add:'-signup.png' as image_url %}
                    <a class="pad-right" href="{% url 'social:begin' backend %}" data-tooltip="{% trans 'Signup with' %} {{ backend }}"><img src="{% static image_url %}"></a>
                {% endwith %}
            {% endfor %}
        </div>
        {% if settings.ACCOUNTS_APPROVAL_REQUIRED %}
            <p>{% trans "After signing up, your account will be reviewed for approval. You'll receive an email when your account is activated." %}</p>
        {% elif settings.ACCOUNTS_VERIFICATION_REQUIRED %}
            <p>{% trans "After signing up, you'll receive an email with a link you need to click, in order to activate your account." %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>  
{% endblock %}
