{% extends "base-actual.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main_content %}
    <div class="content-container">
        <h3>{% block title %}{{ title }}{% endblock %}</h3>
        {% block main %}
            {% errors_for form %}
            <form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% fields_for form %}
                <div class="form-actions">
                    {% block account_form_actions %}
                        <button class="btn" type="submit">{{ title }}</button>
                    {% endblock %}
                </div>
            </form>
        {% endblock main %}
    </div>
{% endblock %}
