{% extends "base-actual.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block body_id %}page-news{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {% metablock %}
        {% keywords_for blog_post as tags %}
        {% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
    {% endmetablock %}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% metablock %}
        {{ blog_post.description }}
    {% endmetablock %}
{% endspaceless %}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <style>.input_id_honeypot {display:none !important;}</style>
{% endblock %}

{% block title %}{% endblock %}

{% block breadcrumb_menu %}
    <div class="content-container no-padding">
        <div class="breadcrumbs count-3">
            <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i></a>
            <a href="{% url 'faq' %}">{% trans 'FAQ' %}</a>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    <div class="content-container">
        <h3>FAQ's</h3>
        <div class="list-side-by-side">
        <ul>
            {% for faq in object_list %}
                <li><a href="#{{ faq.title|slugify }}">{{ faq.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <div class="content-container no-padding">
        <ul class="description-list row-color list-pad restyle-lists">
            {% for faq in object_list %}
                <li id="{{ faq.title|slugify }}">
                    <dl>
                        <dt>{{ faq.title }}</dt>
                        <dd>
                        {{ faq.body }}
                        </dd>
                    </dl>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
