{% load i18n pages_tags %}
<nav class="side-nav" id="nav-main-side">
    <div id="nav-main-side-brand">
        Azelphur<br />
        Gaming
    </div>
    <ul>
        {% page_menu 'pages/menus/tree.html' %}
        <li class="divider"></li>
        {% if request.user.is_authenticated %}
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header waves-effect">{% trans 'Profile' %}<i class="fa fa-fw fa-caret-down right"></i></a>
                        <div style="display: block;" class="collapsible-body">
                            <ul>
                                <li><a href="{% url 'messages_inbox' %}">{% trans 'Messages' %}</a></li>
                                <li><a href="{% url 'djangobb:search' %}?action=show_user&amp;show_as=topics">{% trans 'My Topics' %}</a></li>
                                <li><a href="{% url 'djangobb:search' %}?action=show_user&amp;show_as=posts">{% trans 'My Posts' %}</a></li>
                                <li><a href="{% url 'djangobb:forum_profile' user.username %}">{% trans 'Settings' %}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'logout' %}?next={{ request.path }}">{% trans 'Log Out' %}</a></li>
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">{% trans 'Log In' %}</a></li>
            <li><a href="{% url 'signup' %}?next={{ request.path }}">{% trans 'Register' %}</a></li>
        {% endif %}
    </ul>
</nav>