{% load forum_extras %}
{% load cache %}
{% load i18n %}

{% if forum.last_post.topic %}
	<li>
{% else %}
	<li>
{% endif %}
    <dl class="forum-icon{% if forum|forum_unreads:user %} inew{% endif %}"{% if forum.forum_logo %} style="background-image:url('{{ forum.forum_logo.url }}');"{% endif %}>
        <dt class="forum-title">
            {% link forum %}<br />
            {{ forum.description|safe }}
        </dt>
        <dd class="forum-topics">{{ forum.topic_count }}</dd>
        <dd class="forum-posts">{{ forum.post_count }}</dd>
        <dd class="forum-latest">
        {% if forum.updated %}
            {% if forum.last_post.topic %}
                <a href="{{ forum.last_post.get_absolute_url }}">{{ forum.last_post.topic|safe }}</a><br />
                <time datetime="{{ forum.last_post.created|date:'c' }}">{% forum_time forum.last_post.created %}</time> {% trans "by" %} <a href="{% url 'djangobb:forum_profile' forum.last_post.user.username %}">{{ forum.last_post.user.username|safe }}</a></span>
            {% endif %}
        {% endif %}
        </dd>
    </dl>
</li>