{% load forum_extras %}
{% load i18n %}

<div class="content-container no-padding">
    <ul class="forum-header">
        <li>
            <dl>
                <dt class="forum-stats-title"><i class="fa fa-fw fa-info"></i>{% trans "Board footer" %}</dt>
            </dl>
        </li>
    </ul>
    <div class="row row-no-marg">
        <div class="col s12">
            {% block controls %}
                <dl id="searchlinks" class="conl">
                    <dt><h6>{% trans "Search links" %}</h6></dt>
                    <dd><a href="{% url 'djangobb:search' %}?action=show_24h">{% trans "Show recent posts" %}</a></dd>
                    <dd><a href="{% url 'djangobb:search' %}?action=show_unanswered">{% trans "Show unanswered posts" %}</a></dd>
                    {% if user.is_authenticated %}
                    <dd><a href="{% url 'djangobb:search' %}?action=show_subscriptions">{% trans "Show your subscribed topics" %}</a></dd>
                    <dd>{% trans "Show your" %} <a href="{% url 'djangobb:search' %}?action=show_user&show_as=topics">{% trans "topics" %}</a>/<a href="{% url 'djangobb:search' %}?action=show_user&show_as=posts">{% trans "posts" %}</a></dd>
                    {% endif %}
                </dl>
            {% endblock controls %}
        </div>
    </div>
</div>


