{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block body_id %}forum{% endblock %}

{% block breadcrumb_menu %}
    <div class="content-container no-padding">
        <div class="breadcrumbs count-3">
            <a href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i></a>
            <a href="{% url 'djangobb:index' %}">{% trans 'Forums' %}</a>
        </div>
    </div>
{% endblock %}

{% block content %}
	{% for iter in cats %}
		<div class="content-container no-padding">
	        <ul class="forum-header">
	            <li>
	                <dl>
	                    <dt class="forum-title"><i class="fa fa-fw fa-file-text"></i>{{ iter.cat }}</dt>
	                    <dd class="forum-topics">{% trans "Topics" %}</dd>
	                    <dd class="forum-posts">{% trans "Posts" %}</dd>
	                    <dd class="forum-latest">{% trans "Last post" %}</dd>
	                </dl>
	            </li>
	        </ul>
	        <ul class="forum-list">
				{% for forum in iter.forums %}
					{% include 'djangobb_forum/forum_row.html' %}
				{% endfor %}
	        </ul>
	    </div>
    {% endfor %}

	<div class="content-container no-padding">
        <ul class="forum-header">
            <li>
                <dl>
                    <dt class="forum-stats-title"><i class="fa fa-fw fa-info"></i>{% trans "Board information" %}</dt>
                </dl>
            </li>
        </ul>
		<div class="row row-no-marg">
			<div class="col s12 m6 l4">
				<dl>
					<dt><h6>{% trans "Board statistics" %}</h6></dt>
					<dd>{% trans "Total number of registered users:" %} {{ users }}</dd>
					<dd>{% trans "Total number of topics:" %} {{ topics }}</dd>
					<dd>{% trans "Total number of posts:" %} {{ posts }}</dd>
				</dl>
			</div>
			<div class="col s12 m6 l4">
				<dl>
					<dt><h6>{% trans "User information" %}</h6></dt>
					<dd>{% trans "Newest registered user:" %} {{ last_user|profile_link }}</dd>
					<dd>{% trans "Registered users online:" %} <strong>{{ online_count }}</strong></dd>
					<dd>{% trans "Guests online:" %} <strong>{{ guest_count }}</strong></dd>
				</dl>
			</div>
			<div class="col s12 m12 l4">
				<dl>
					<dt><h6>{% trans "Online Users" %}</h6></dt>
                    {% for online in users_online %}
                        <dd>{{ online|profile_link }}</dd>
                    {% endfor %}
				</dl>
			</div>
		</div>
    </div>
{% endblock %}

{% block lofi %}
	{% if forum_settings.LOFI_SUPPORT %}
	    <p class="lofi">
	        <a href="{% url 'djangobb:lofi_index' %}">Lo-Fi Version</a>
	    </p>
	{% endif %}
{% endblock %}
