{% load i18n %}
{% load forum_extras %}

{% spaceless %}
    {% if page.has_other_pages %}
        <ul class="pagination {{ text_align|default:'center-align' }}">
            <li {% if not page.has_previous %} class="disabled"{% endif %}>
                <a href="{% if page.has_previous %}?{% url_replace request 'page' page.previous_page_number %}{% else %}#{% endif %}">
                    <i class="fa fa-fw fa-chevron-left"></i>
                </a>
            </li>
            {% for number in page.paginator.page_range %}
                <li{% if number == page.number %} class="active"{% endif %}>
                    <a href="?{% url_replace request 'page' number %}">{{ number }}</a>
                </li>
            {% endfor %}
            <li {% if not page.has_next %} class="disabled"{% endif %}>
                <a href="{% if page.has_next %}?{% url_replace request 'page' page.next_page_number %}{% else %}#{% endif %}">
                    <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    {% endif %}
{% endspaceless %}