{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block body_id %}forum reputation{% endblock %}
{% block meta_title %}{{ profile.user|truncatechars:12 }} | {% trans 'Reputation' %} | {% trans 'Forum' %}{% endblock %}

{% block content %}
    <div class="forum-head">
		{% if profile.user.forum_profile.avatar and profile.user.forum_profile.show_avatar %}
			<img src="{{ profile.user.forum_profile.avatar.url }}" alt="User Avatar" class="left" />
		{% else %}
			{% if forum_settings.GRAVATAR_SUPPORT and profile.user.forum_profile.show_avatar %}
				<img src="{% gravatar profile.user.email %}" alt="User Avatar" class="left" />
			{% endif %}
		{% endif %}
        <h3 class="forum-head-title">
            {{ profile.user }}
            <span class="sub-title">{{ profile.user.forum_profile.status|default:'Member' }}</span>
            <span class="sub-title">
            	<span class="green-text"><i class="fa fa-thumbs-up"></i> {{ profile.user.forum_profile.reply_count_plus|default_if_none:"0" }}</span>&nbsp;&nbsp;&nbsp;
				<span class="red-text"><i class="fa fa-thumbs-down"></i> {{ profile.user.forum_profile.reply_count_minus|default_if_none:"0" }}</span>
			</span>
        </h3>
    </div>
	<h3>{% trans "User Reputation" %}</h3>

    <div class="content-container no-padding grid-table">
        <div class="row table-header">
            <div class="col s12 hide-on-med-and-up">{% trans "From / For a post in / Comment" %}</div>
            <div class="col m2 hide-on-small-only">{% trans "From User" %}</div>
            <div class="col m3 hide-on-small-only">{% trans "For a post in" %}</div>
            <div class="col m5 hide-on-small-only">{% trans "Rep/Comment" %}</div>
            <div class="col m2 hide-on-small-only">{% trans "Received" %}</div>
        </div>
        <div class="table-body">
            {% for reputation in reputations %}
                <div class="row">
                    <div class="col s12 m2">
                        {% if message.sender.forum_profile.avatar %}
                            <a href="{% url 'djangobb:forum_profile' reputation.from_user %}"><img src="{{ reputation.from_user.forum_profile.avatar.url }}" alt="User Avatar" class="left avatar-small" /></a>
                        {% else %}
                            {% if forum_settings.GRAVATAR_SUPPORT %}
                                <a href="{% url 'djangobb:forum_profile' reputation.from_user %}"><img src="{% gravatar reputation.from_user.email %}" alt="User Avatar" class="left avatar-small" /></a>
                            {% endif %}
                        {% endif %}
                        <a class="link-color-normal" href="{% url 'djangobb:forum_profile' reputation.from_user %}">{{ reputation.from_user }}</a>
                    </div>
                    <div class="col s12 m3"><a href="{{ reputation.post.get_absolute_url }}">{{ reputation.post.topic }}</a></div>
                    <div class="col s12 m5">
                    	{% if reputation.sign == 1 %}
                    		<span class="green-text"><i class="fa fa-thumbs-up"></i></span>&nbsp;&nbsp;
                    	{% else %}
                    		<span class="red-text"><i class="fa fa-thumbs-down"></i></span>&nbsp;&nbsp;
                    	{% endif %}
                    	{{ reputation.reason }}
                    </div>
                    <div class="col s12 m2">{{ reputation.time|date:"M. j, Y" }}</div>
                </div>
            {% empty %}
                <p class="center-align pad-bottom">
                    {% trans "No reputation to display." %} 
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block controls %}
{% endblock %}
