{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block body_id %}forum users{% endblock %}
{% block meta_title %}{% trans 'Users' %}{% endblock %}

{% block content %}
	<div class="content-container">
		<h3>{% trans "User search" %}</h3>
		<form method="get" id="userlist" action="">
			<div class="row no-mar-bottom">
				<div class="col s12 input-field">
					{{ form.username }}
					<label for="id_name">{{ form.username.label }}</label>
				</div>
				<div class="col s12 m8 input-field">
					{{ form.sort_by }}
					<label for="id_name">{{ form.sort_by.label }}</label>
				</div>
				<div class="col s12 m4 input-field">
					{{ form.sort_dir }}
					<label for="id_name">{{ form.sort_dir.label }}</label>
				</div>
			</div>
			<input type="submit" class="btn" value="{% trans "Search" %}" />
		</form>
	</div>

    <div class="content-container no-padding grid-table">
        <div class="row table-header">
            <div class="col s12 m4">{% trans "User" %}</div>
            <div class="col m3 l4 hide-on-small-only">{% trans "Title" %}</div>
            <div class="col m2 center-align hide-on-small-only">{% trans "Posts" %}</div>
            <div class="col m3 l2 center-align hide-on-small-only">{% trans "Registered" %}</div>
        </div>
        <div class="table-body">
            {% for profile in users_page %}
                <div class="row">
                    <div class="col s7 m4">
                        {% if profile.forum_profile.avatar and profile.forum_profile.show_avatar %}
                            <a href="{% url 'djangobb:forum_profile' profile %}"><img src="{{ profile.forum_profile.avatar.url }}" alt="User Avatar" class="left avatar-small" /></a>
                        {% else %}
                            {% if forum_settings.GRAVATAR_SUPPORT and profile.forum_profile.show_avatar %}
                                <a href="{% url 'djangobb:forum_profile' profile %}"><img src="{% gravatar profile.email %}" alt="User Avatar" class="left avatar-small" /></a>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'djangobb:forum_profile' profile %}" class="link-color-normal">{{ profile }}</a>
                    </div>
                    <div class="col s5 m3 l4">{{ profile.forum_profile.status|default:'Member' }}</div>
                    <div class="clearfix hide-on-med-and-up"></div>
                    <div class="col s5 m2 center-align">{{ profile.forum_profile.post_count }}<span class="hide-on-med-and-up"> {% trans "Post(s)" %}</span></div>
                    <div class="col s7 m3 l2 center-align"><span class="hide-on-med-and-up">{% trans "Joined:" %} </span>{{ profile.date_joined|date:"M. j, Y" }}</div>
                </div>
            {% empty %}
                <p class="center-align pad-bottom">
                    {% trans "No messages to display." %} 
                </p>
            {% endfor %}
        </div>
    </div>

    {% include 'djangobb_forum/paginator.html' with page=users_page request=request only %}
{% endblock %}

{% block controls %}
{% endblock %}
