{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block body_id %}profile{% endblock %}
{% block meta_title %}{{ profile.username|safe|truncatechars:20 }} | {% trans 'User' %}{% endblock %}

{% block content %}
	{% include 'djangobb_forum/profile/profile_menu.html' %}
	<div class="content-container">
		<h3>{% trans "Profile Settings" %}</h3>
		<form id="profile1" method="post">
			{% csrf_token %}
			<div class="row no-mar-bottom{% if not user.is_superuser %} hide{% endif %}">
				<div class="col s12 input-field">
					{{ form.username.errors }}
					{{ form.username }}
					{% if user.is_superuser %}
						<label for="id_username">{{ form.username.label }}</label>
					{% endif %}
				</div>
			</div>
			<div class="row no-mar-bottom">
				<div class="col s12 input-field">
					{{ form.email.errors }}
					{{ form.email }}
					<label for="id_email">{{ form.email.label }}</label>
				</div>
			</div>
			<div class="row no-mar-bottom">
				<div class="col s12 pad-bottom">
					{% if user.is_superuser %}
						<a class="btn-flat btn-sm" href="{% url 'admin:auth_user_password_change' profile.id %}">{% trans "Change password" %}</a>
					{% else %}
						<a class="btn-flat btn-sm" href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
					{% endif %}
				</div>
			</div>
			<div class="row no-mar-bottom">
				<div class="col s12 input-field">
					{{ form.time_zone.errors }}
                    {{ form.time_zone }}
                    <label for="id_time_zone">{% trans "Your timezone" %}</label>
				</div>
			</div>
			<div class="row no-mar-bottom">
				<div class="col s12 input-field">
					{{ form.language.errors }}
                    {{ form.language }}
                    <label for="id_language">{% trans "Preferred language" %}</label>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					{{ form.auto_subscribe.errors }}
                    <p class="no-mar">{{ form.auto_subscribe }}
                    <label for="id_auto_subscribe">{{ form.auto_subscribe.help_text }}</label></p>
				</div>
			</div>
			<div class="row no-mar-bottom">
				<div class="col s12">
					<h5>{% trans "User activity" %}</h5>
			     	<dl class="styled-dl">
			    		<dt><strong>{% trans "Reputation:" %}</strong></dt>
			    		<dd>
							<span class="green-text"><i class="fa fa-thumbs-up"></i> {{ profile.forum_profile.reply_count_plus|default_if_none:"0" }}</span>&nbsp;&nbsp;&nbsp;
							<span class="red-text"><i class="fa fa-thumbs-down"></i> {{ profile.forum_profile.reply_count_minus|default_if_none:"0" }}</span>&nbsp;
							- <a href="{% url 'djangobb:reputation' profile %}">{% trans "View Reputation" %}</a>
						</dd>
			    		<dt><strong>{% trans "Posts:" %}</strong></dt>
			    		<dd>
							{{ profile.forum_profile.post_count }} - <a href="{% url 'djangobb:search' %}?action=show_user&amp;user_id={{ profile.id }}">{% trans "Show all posts" %}</a>
						</dd>
						{% if profile.forum_profile.last_post %}
				    		<dt><strong>{% trans "Last post:" %}</strong></dt>
				    		<dd>
								{{ profile.forum_profile.last_post }}
							</dd>
						{% endif %}
			    		<dt><strong>{% trans "Registered:" %}</strong></dt>
			    		<dd>
							{{ profile.date_joined|date:"M. j, Y" }}
						</dd>
					</dl>
				</div>
			</div>
			<button name="update" type="submit" class="btn">{% trans "Save" %}</button>
			<div class="grey-text">{% trans "When you update your profile, you will be redirected back to this page." %}</div>
		</form>
	</div>
{% endblock %}

{% block controls %}{% endblock %}
{% block board_footer %}{% endblock %}