{% extends "base-actual.html" %}

{% load i18n static %}

{% block meta_title %}{% trans "Donate" %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}
    <div class="content-container">
        <h3>{% trans "Donate / Premium" %}</h3>
        <p>{% blocktrans %}Hey, thanks for considering a donation to our community!<br />
            Running a large community with multiple servers isn't cheap, our monthly running cost is around $180. So your kind donations will be going towards the costs of our hardware and will enable us to keep growing our community and invest in future improvements!{% endblocktrans %}<p/>
        <p>{% blocktrans %}When you donate, will we thank you by making you a premium member, which grants you instant access to the following awesome features on our TF2 servers!{% endblocktrans %}</p>
        <h6>{% trans 'Premium benefits' %}</h6>
        <ul class="restyle-list">
            <li><span class="text-highlight">{% trans 'Reserved slot' %}</span> - {% trans "There's always space for you!" %}</li>
            <li><span class="text-highlight">{% trans 'Premium chat status' %}</span> - {% trans 'Let everyone know you support our community with full team coloured text when you talk!' %}</li>
            <li><span class="text-highlight">{% trans 'Third person' %}</span> - {% trans 'Get a third person view!' %}</li>
            <li><span class="text-highlight">{% trans 'Particle trails' %}</span> - {% trans 'Enable loads of sweet particle trails effects on yourself!' %}</li>
            <li><span class="text-highlight">{% trans 'RTD buff' %}</span> - {% trans 'Get a 70% chance of a good RTD effect on RTD enabled servers!' %}</li>
            <li><span class="text-highlight">{% trans 'ForceTheVote' %}</span> - {% trans 'Start a vote to change to a specific map of your choice on multi-map servers!' %}</li>
        </ul>
    </div>
    <div class="row row-no-marg-bottom">
        {% for value, length in form.fields.amount.choices %}
            <div class="col s12 m6 l3">
                <div class="content-container center-align">
                    <h6>{% trans 'Get Premium for' %} {{ length }}</h6>
                    {% if steam %}
                        <form action="{{ form.get_endpoint }}" method="post">
                            {% csrf_token %}
                            {{ form.business }}
                            {{ form.item_name }}
                            {{ form.notify_url }}
                            {{ form.return_url }}
                            {{ form.custom }}
                            {{ form.invoice }}
                            {{ form.cmd }}
                            {{ form.charset }}
                            {{ form.currency_code }}
                            {{ form.no_shipping }}
                            <input type="hidden" name="amount" value="{{ value }}" />
                            <p class="center-align no-mar-bottom">
                                <button class="btn"><i class="fa fa-fw fa-paypal fa-sm"></i>&nbsp;{% trans 'Donate' %} ${{ value }}</a></button>
                            </p>
                        </form>
                    {% elif user.is_authenticated or user.is_anonymous %}
                        <button data-target="modal-steam" class="btn modal-trigger"><i class="fa fa-fw fa-paypal fa-sm"></i>&nbsp;Donate ${{ value }}</a></button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="content-container">
        <h4>{% trans 'Donate with TF2 keys' %}</h4>
        <p class="no-padding-top">{% blocktrans %}Aren't able to donate with real money but still want access to these fantastic features? Well, you can now donate using TF2 keys! The process is automated and amazingly simply. Just add <a href="https://steamcommunity.com/id/azelbot" rel="nofollow" target="_blank">AzelBot</a> on Steam, send it a trade request and add some keys! 1 key will get you a week, 3 keys a month and 5 keys 3 months.{% endblocktrans %}</p>
    </div>
    <p class="no-padding-bottom"><small class="grey-text text-darken-1">{% blocktrans %}* By donating to Azelphur Servers you are not paying for digital goods, we are offering these benefits as a thank you for your kind donation. Donations are non-refundable and do not give you immunity from any server rules.{% endblocktrans %}</small></p>

    {% if not steam and user.is_authenticated %}
        <div id="modal-steam" class="modal">
            <div class="modal-content">
                <h4>{% trans 'Link your account with Steam' %}</h4>
                <p>{% blocktrans %}Our donation system is fully automated, so in order for you to receive your premium benefits, we need know to know which Steam account to give them too. Luckily, you can simply associate your your Steam account by signing in with Steam using the button below.{% endblocktrans %}</p>
                <p class="center-align mar-top pad-top"><a href="{% url 'social:begin' 'steam' %}?next={{ request.path }}" class="btn btn-auth btn-auth-steam"><i class="fa fa-steam"></i>steam</a></p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close btn-flat">{% trans 'Cancel' %}</button>
            </div>
        </div>
    {% elif user.is_anonymous %}
        <div id="modal-steam" class="modal">
            <div class="modal-content">
                <h4>{% trans 'Log In Required' %}</h4>
                <p>{% blocktrans %}Our donation system is fully automated, so in order for you to receive your premium benefits, we need know to know which Steam account to give them too. Please log in or create an account to continue. For ease, you can also choose to sign in through Steam.{% endblocktrans %}</p>
                <p class="center-align mar-top pad-top">
                    <a class="btn" href="{% url 'login' %}?next={{ request.path }}">{% trans 'Log In' %}</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn" href="{% url 'signup' %}?next={{ request.path }}">{% trans 'Register' %}</a>
                </p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close btn-flat">{% trans 'Cancel' %}</button>
            </div>
        </div>
    {% endif %}
{% endblock %}
