{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Donate" %}{% endblock %}
{% block title %}{% trans "Donate / Premium" %}{% endblock %}

{% block main %}
    <p>{% blocktrans %}Hey, thanks for considering a donation to our community!{% endblocktrans %}<br />
        {% blocktrans %}Running a large community with multiple servers isn't cheap, our monthly running cost is around $180. So your kind donations will be going towards the costs of our hardware and will enable us to keep growing our community and invest in future improvements!{% endblocktrans %}<p/>
    <p>{% blocktrans %}When you donate, will we thank you by making you a premium member, which grants you instant access to the following awesome features on our TF2 servers!{% endblocktrans %}</p>
    <h6>{% blocktrans %}Current premium benefits{% endblocktrans %}:</h6>
    <ul class="restyle-list">
        <li><span class="text-highlight">Reserved slot</span> - {% blocktrans %}There's always space for you!{% endblocktrans %}</li>
        <li><span class="text-highlight">Premium chat status</span> - {% blocktrans %}Let everyone know you support our community with full team coloured text when you talk!{% endblocktrans %}</li>
        <li><span class="text-highlight">Third person</span> - {% blocktrans %}Get a third person view!{% endblocktrans %}</li>
        <li><span class="text-highlight">Particle trails</span> - {% blocktrans %}Enable loads of sweet particle trails effects on yourself!{% endblocktrans %}</li>
        <li><span class="text-highlight">RTD buff</span> - {% blocktrans %}Get a 70% chance of a good RTD effect on RTD enabled servers!{% endblocktrans %}</li>
        <li><span class="text-highlight">ForceTheVote</span> - {% blocktrans %}Start a vote to change to a specific map of your choice on multi-map servers!{% endblocktrans %}</li>
    </ul>

    {% if steam %}
        {{ form.render }}
    {% elif user.is_authenticated %}
        Associate your steam account to donate, <h1><a href="{% url 'social:begin' 'steam' %}">Login with Steam</a></h1>
    {% elif user.is_anonymous %}
        Register to donate, <h1><a href="{% url 'social:begin' 'steam' %}">Login with Steam</a></h1>
    {% endif %}
{% endblock %}