{% extends 'djangobb_forum/base.html' %}
{% load forum_extras static %}
{% load i18n %}

{% block body_id %}profile{% endblock %}
{% block meta_title %}{{ user.username|safe|truncatechars:20 }} | {% trans 'User' %}{% endblock %}

{% block content %}
	{% include 'djangobb_forum/profile/profile_menu.html' with active_menu='social' %}
	<div class="content-container">
		<h3>{% trans "Social Auths" %}</h3>
		<h4>Active associations</h4>
        {% for backend in backends.associated %}
            {% with 'img/social/'|add:backend.provider|add:'.png' as image_url %}
                <div class="row">
                	<div class="col s12">
                		<img class="left pad-right" src="{% static image_url %}">
                        <form action="{% url 'social:disconnect' backend.provider %}" method="post">
                            <p>{% trans 'You have signed in with' %} <span class="capitalize strong">{{ backend.provider }}</span>. 
                                {% csrf_token %}
                                <button class="btn-flat" type="submit">{% trans 'Un-link' %} {{ backend.provider }}</button>
                            </p>
                        </form>
                	</div>
                </div>
            {% endwith %}
        {% empty %}
        	<p>{% trans 'You have not yet associated your account with any social networks.' %}</p>
        {% endfor %}
        {% if backends.not_associated|length > 0 %}
        	<h4>{% trans 'Link your account with' %}</h4>
	        {% for backend in backends.not_associated %}
	            {% with 'img/social/'|add:backend|add:'.png' as image_url %}
	                <div class="row">
	                	<div class="col s12">
	                		<img class="left pad-right" src="{% static image_url %}">
	                		<p><a href="{% url 'social:begin' backend %}" class="capitalize">{% trans 'Sign in with' %} {{ backend }}</a></p>
	                	</div>
	                </div>
	            {% endwith %}
	        {% endfor %}
        {% endif %}
	</div>
{% endblock %}

{% block controls %}{% endblock %}
{% block board_footer %}{% endblock %}