{% extends "base-actual.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Server Rules" %}{% endblock %}
{% block title %}{% endblock %}

{% block main_content %}
    <div class="content-container">
        <h3>{% trans "Server Rules" %}</h3>
        <p>{% blocktrans %}Below are the rules for all our game servers. Anyone breaking these rules are subject to an appropriate punishment (kick, ban, mute etc) by our admin team. However, we may give a warning or 2 before taking action for less serious offences. By playing our game servers you are agreeing to these rules.{% endblocktrans %} {% trans "You can also access these in-game by typing" %} <code>!rules</code>. {% trans "If you find that another player is breaking any of these rules in-game, please use the" %} <code>/report</code> {% trans "command to report them to an admin." %}</p>
        <ul class="restyle-list list-items-mar-bottom list-mar-bottom description-list">
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "No advertising of unrelated servers or websites without permission" %}</dt>
                    <dd>{% trans "We obviously don't like people trying to make the people playing on our servers go to other servers, we like having people online." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "No cheating (aimbotting, wallhacks etc)" %}</dt>
                    <dd>{% trans "Another obvious one, we catch you cheating, you get the ban-hammer." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "No discrimination or harassment of any kind" %}</dt>
                    <dd>{% trans "No forms of discrimination or harassment are welcome here, this includes racism, homophobia etc. Nobody wants to hear it, if you find someone annoying just ignore them. It's a waste of valuable space in the chat box." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "English must be the only language used on this server at all times" %}</dt>
                    <dd>{% trans "The majority of our players can speak English, so we enforce English only so that everybody can understand everyone else. Nobody wants to hear people talking in various different languages that they can't understand. If you want to speak a different language, use Mumble, Steam Friends, XFire, Skype, etc. There are plenty of options." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "Sprays much be legal and suitable for player 15+" %}</dt>
                    <dd>{% trans "Another simple one, kids play here. If you don't think it's suitable for a child to see then don't spray it here. This means no porn/hentai sprays. Any sprays that contain illage images will get you banned and reported to Valve and your local authorities." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "Sound clips are allowed but keep them short and don't spam" %}</dt>
                    <dd>{% trans "Sound clips can be fun, little clips relevant to the game. Clips such as 'Boom headshot' or 'NO U!' can be funny, and are fine. However please remember that voice chat is mainly for voice chat, don't drown people who are trying to speak out with your clips and keep them short. We also ask that you don't play music over the microphone, not everybody has the same taste in music and it drowns out the people who are trying to speak. If you want to listen to music then use a media player." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "No spamming text or voice chat" %}</dt>
                    <dd>{% trans "Pretty much the same reasoning as above, please don't fill the chat box or voice chat with pointless crap. People need to use them for communication, and nobody wants to hear the same thing over and over again." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "No impersonation of staff members is not allowed under any circumstances" %}</dt>
                    <dd>
                        {% trans "Pretty obvious this one, if they can't talk in green text like this..." %}<br />
                        <code class="green-text">(ADMIN) Azelphur: Hi!</code><br />
                        {% trans "Then they are not an administrator, do not listen to what they are saying and report them via <code>/report</code>. (Note that administrators do not always use green text for normal chat with other players.) This include players threatening to kick/ban you, players using an admins name or people just plain saying they are an admin but not using the green admin chat." %}
                    </dd>
                </dl>
            </li>
        </ul>
        <h4 class="mar-top">{% trans "The following is useful information that'll help you get along better with everyone" %}</h4>
        <ul class="restyle-list list-items-mar-bottom description-list">
           <li>
                <dl>
                    <dt class="text-highlight">{% trans "Camping, in all forms, is allowed" %}</dt>
                    <dd>{% trans "Another simple one. All forms on camping in-game, spawn camping, sentry camping etc is allowed. Please don't whine about it." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "Truces are opt-in only and do not need to be followed by other players" %}</dt>
                    <dd>{% trans "TF2 is a shooting game, the goal of the game is to shoot the enemy and nothing changes this. Again, please don't whine if somebody breaks your truce." %}</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="text-highlight">{% trans "Don't hide (E.G. Cloak and Dagger) during sudden death" %}</dt>
                    <dd>{% trans "It's not clever, it makes sudden death last much longer than it should, and nobody besides you enjoys it. If you don't want to play sudden death then just suicide and get it over with." %}</dd>
                </dl>
            </li>
        </ul>
    </div>
{% endblock %}